/* Reset básico para remover margens e padding padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .password-generator-screen {
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
  
  .password-generator-screen header {
    background-color: white; /* Cor de fundo da navbar */
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 20px; /* Espaçamento interno para não ficar espremido */
  }
  
  .password-generator-screen .logo {
    color: black;
    margin-top: 5px;
  }
  
  .password-generator-screen .search-bar {
    width: 100%;
    padding: 5px;
  }
  
  .password-generator-screen header .headerlogomenu {
    display: flex;
    flex-direction: row;
  }
  
  .password-generator-screen header .headerlogomenu .logo {
    flex-basis: 50%;
  }
  
  .password-generator-screen header .logo h1 {
    font-weight: lighter;
  }
  
  .password-generator-screen .menu {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .password-generator-screen .menu ul {
    display: flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: row;
  }
  
  .password-generator-screen .menu ul li {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    align-self: center;
  }
  
  .password-generator-screen .menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .password-generator-screen .menu ul li a:hover {
    background-color: #555; /* Efeito de hover para os itens do menu */
  }
  
  .password-generator-screen .menu-item {
    align-content: center;
  }
  
  .password-generator-screen .menu-icon {
    align-self: center;
    fill: black;
    margin-left: 20px; /* Espaçamento para o ícone do menu */
  }
  
  .password-generator-screen .banner-principal .banner-image {
    width: 100%;
    max-height: 450px;
  }
  
  .password-generator-screen .password-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .password-generator-screen .password-description h2{
    justify-content: center;
    text-align: center;
  }
  
  .password-generator-screen .password-description p {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .password-generator-screen .button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  
  .password-generator-screen .password-groups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }
  
  .password-generator-screen .grouptitle {
    background-color: lightgrey;
    justify-content: space-between;
    text-align: center;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .password-generator-screen .save-group {
    display: flex;
    flex-basis: 33%;
    align-items: center;
    flex-direction: column;
  }
  
  .password-generator-screen .passwords {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  
  .password-generator-screen .passwords span {
    margin-bottom: 15px;
  }
  
  .password-generator-screen .groupDefinition {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 300px;
  }
  
  .password-generator-screen .passwordName{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 300px;
  }
  
  .password-generator-screen .generatePassword {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .password-generator-screen .generatePassword button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
  }
  
  .password-generator-screen .generatePassword .clearGroupsAndPassword{
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    margin-top: 10px;
  }
  
  .password-generator-screen .active {
    border-bottom: 3px solid darkslateblue;
  }
  
  .password-generator-screen .footer {
    background: lightgray;
    width: 100%;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
  