
button {
    text-align: center;
}


table {
    text-align: center;
}


body {
    font-family: Arial, helvetica, sans-serif;
}
table {
    width: 400px;
    border-collapse: collapse;
    text-align: center;
}


.grupo-alerta {
    display: flex;
    justify-content: center;
  }
 
  .card-alerta {
    width: 30%;
    height: 40%;
    border: 1px solid rgb(138, 138, 138);
    margin: 2%;
    box-sizing: border-box;
    background-color: lightgray;
    max-width: 500px;
    padding: 1%;
    text-align: center;
  }


  .reportar-alerta {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(6, 6, 24);
    color: white;
    text-decoration: none;
    padding: 1%;
    width: 20%;
    margin-top: 10px;
    border-radius: 10px;
    margin: 2%;
    margin-left: 30%;
    margin: auto;
    margin-top: 30px;
  }
