
button {
    text-align: center;
}

table {
    text-align: center;
}

body {
    font-family: Arial, helvetica, sans-serif;
}
table {
    width: 400px;
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 8px;
}
tr {
    background-color: darkgray;
}