body{
    background-color: rgb(209, 209, 209);
}

    .navbar-brand img{

        width: 20%;
        height: 10%;
        margin-right: 100%;
    }
    
   /*.navbar-nav{

    margin-left: 70%;
   }*/

   

   div.mb-3{
    width: 50%;
   }

   #login{
    padding: 5%;
    margin-left: 30%;
    margin-right: 10%;
   }

    .col-auto button{
    background-color: rgb(27, 87, 27);
    border: 0px;
    color: white;
   }

   
.position{
    margin-left: 50%;
}
#img{
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.card{
    
    margin: 3%;
}

.card-body{
    border: 1px solid grey;
    position: relative;
}

.card-text{
    text-align: justify;
    padding-bottom: 30px;
}

.card-img-top{
    border: 1px solid grey;
    height: 220px;
}

.btn-read-more{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#barrmt{
    background-color: rgb(0, 0, 215);
    width: 100%;
    height: 5px;
    margin-top: 40px;
}

#barr{
    background-color: rgb(0, 0, 215);
    width: 100%;
    height: 5px;
    margin-top: 0px;
}

footer p{
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 0%;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: rgb(96, 95, 95);
  }
  
  
   
 
  
   

