.password-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.password-description p {
  text-align: justify;
  margin-left: 80px;
}

.password-description p:last-of-type {
  margin-right: 80px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.password-groups {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.group-title {
  background-color: lightgrey;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.save-group {
  display: flex;
  flex-basis: 33%;
  align-items: center;
  flex-direction: column;
}

.passwords {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.passwords span {
  margin-bottom: 15px;
}

.group-definition {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 300px;
}

.generate-password {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.generate-password button {
  background-color: darkslateblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
}
