/* Password Generator */
.password-description {
  padding: 30px 100px;
  text-align: justify;
}

.password-description h2 {
  text-align: center;
}

.password-description p, .password-description ol {
  margin: 30px 0;
}

.groupDefinition, .passwordName {
  padding: 12px 20px;
  margin: 8px 0;
  width: 300px;
}

.generatePassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.generatePassword button {
  width: 160px;
}

.password-groups {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.save-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33%;
}

.grouptitle {
  background-color: lightgrey;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.passwords {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.passwords span {
  margin-bottom: 15px;
}
