.quiz-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.card-quiz {
  width: 50vw;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1em;
  margin-bottom: 1em;
}

.card-quiz h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-quiz .option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5em 0.5em;
}
.card-quiz .option:hover {
  color: aliceblue;
  background: #000;
}

.card-quiz .option span {
  font-weight: bold;
  margin-right: 0.2em;
}

.quiz-page .modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct-answer {
  color: green;
  font-weight: bold;
}
.wrong-answer {
  color: red;
}
.quiz-page .modal-content {
  font-family: 'Roboto', sans-serif;
}