.quiz-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: flex-start;
  padding: 1rem 0;
}

#submitQuiz{
  margin: 0 auto;
}

#quizContainer ul{
  list-style: none;
}

#quizContainer {
  width: 80%;
  margin: 0 auto;
}
.question {
  margin-bottom: 20px;
}
.question h3 {
  margin: 0 0 10px 0;
}
.question ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.question li {
  margin: 5px 0;
}
.question label {
  margin-left: 5px;
}

.card-quiz {
  width: 50vw;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1em;
  margin-bottom: 1em;
}

.card-quiz h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-quiz .option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5em 0.5em;
}
.card-quiz .option:hover {
  color: aliceblue;
  background: #000;
}

.card-quiz .option span {
  font-weight: bold;
  margin-right: 0.2em;
}

.quiz-page .modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct-answer {
  color: green;
  font-weight: bold;
}
.wrong-answer {
  color: red;
}
.quiz-page .modal-content {
  font-family: 'Roboto', sans-serif;
}