body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./imagens/websec-background.png')
  }
  
  header {
    background-color: #fff; /* Branco */
    padding: 20px;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db; /* Azul */
    border: none;
    border-radius: 4px;
    color: #fff; /* Branco */
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2980b9; /* Azul mais escuro */
  }